@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;

  --color-primary: #137fec;
  --color-secondary: #06b6d4;
  --color-accent: #f59e0b;
  --color-neutral: #1f2937;

  --color-base-100: #f6f7f8;
  --color-base-200: #cfcfcf;
  --color-base-300: #6d6d6e;

  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;
}